{% extends "encyclopedia/layout.html" %}

{% block title %}
    EDITING PAGE
{% endblock %}

{% block body %}
    <h1> Edit page </h1>

    <form action="{% url 'new_page' %}" method="POST">
        {% csrf_token %}
        <label> Title: </label>
        <input type="text" name="title" placeholder="Add your title" value="{{ title }}">
        <br>
        <label> Make your entry </label>
        <br>
        <textarea class="form-control" name="text" id="exampleFormControlTextarea1" rows="10"> {{content}} </textarea>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>




{% endblock %}

